{% extends "layout.html" %}

{% block search %}
{% endblock %}

{% block body %}
<section>
    <div class="allpost_head">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ url_for('static', filename='image/bg-search.png')}}" class="d-block w-100 search_bg"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='image/bg-3.jpg')}}" class="d-block w-100 search_bg"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{{ url_for('static', filename='image/bg-4.jpg')}}" class="d-block w-100 search_bg"
                         alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <div class="d-flex text-center allpost_head_search">
            <div class="container text-center">
                <form class="d-flex form_search " role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-warning" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts.items %}
            <div class="col">
                <div class="card shadow-sm">
                    <a class="title" href="{{ url_for('posts.post', post_id=post.id) }}">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                             preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c"></rect>
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                    </a>
                    <div class="card-body">
                        <div>
                        <span class="account_img">
                            <img class="account_img"
                                 src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                        </span>
                            <span> <a href="{{ url_for('users.user_posts', username=post.author.username) }}" id="author"
                                      style="margin: 0 auto;">{{ post.author.username }}</a></span>
                            <span class="card-text"><small class="text-muted">{{ post.date_posted.strftime('%A, %d %B %Y %I:%M %p') }}</small></span>
                        </div>
                        <h5 class="card-title"><a class="title" href="{{ url_for('posts.post', post_id=post.id) }}">{{
                            post.title }}</a></h5>
                        <p class="card-text">{{ post.content| truncate(110, False, '...', 0)}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="btn btn-success">Подробнее</a>
                            </div>
                            <small class="text-muted">9 mins</small>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
        <div class="text-center">
            {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
            {% if posts.page == page_num %}
            <a class="btn btn-success mb-4" href="{{ url_for('posts.allpost', page=page_num) }}">{{ page_num }}</a>
            {% else %}
            <a class="btn btn-outline-success mb-4" href="{{ url_for('posts.allpost', page=page_num) }}">{{ page_num
                }}</a>
            {% endif %}
            {% else %}
            ...
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
