{% extends "layout.html" %}

{% block body %}

<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for id in like.items %}
            {% for post in posts %}
            {% if post.id == id %}
            <div class="col">
                <div class="card shadow-sm allpost_card_hash">
                    <a class="title" href="{{ url_for('posts.post', post_id=post.id) }}">
                        <img class="all_post_img"
                             src="{{ url_for('static', filename='profile_pics/' + post.image_file) }}">
                    </a>
                    <div class="allpost_card_hastags">
                        <div class="p-2">
                            {% for tag in post.hashtags %}
                            <span class="btn btn-warning text-light post_tag">{{ tag.name}}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-row mb-3">
                            <div class="flex-grow-1">
                            <span class="account_img">
                                <img class="post_author"
                                     src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
                            </span>
                                <span> <a href="{{ url_for('users.user_posts', username=post.author.username) }}"
                                          id="author" style="margin: 0 auto;">{{ post.author.username }}</a></span>
                            </div>
                            <span class="card-text"><small class="text-muted">{{ post.date_posted.strftime('%A, %d %B %Y') }}</small></span>
                        </div>
                        <h5 class="card-title"><a class="title" href="{{ url_for('posts.post', post_id=post.id) }}">{{
                            post.title }}</a></h5>
                        <p class="card-text">{{ post.content| truncate(110, False, '...', 0)}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ url_for('posts.post', post_id=post.id) }}" class="btn btn-success">Подробнее</a>
                            </div>
                            <div class="p-2">
                                <form action="{{ url_for('posts.like_post', post_id=post.id) }}" method="post">
                                    {{ like_form.hidden_tag() }}
                                    <button type="submit"
                                            style="border: none; background-color: #FFFFFF;">
                                        <img style="width: 32px;"
                                             src="{{ url_for('static', filename='image/like.svg') }}" alt="...">
                                        {{ like_count if like_count > 0 }}
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}

        </div>

    </div>

</section>
{% endblock %}