<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% if title %}
    <title>{% block title %}{% endblock %}</title>
    {% else %}
    <title>Blog</title>
    {% endif %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid container">
            <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="150" height="30">
                    <use xlink:href="{{ url_for('static', filename='icon/sprite.svg')}}#LOGO 1"></use>
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Blog</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('posts.allpost') }}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About as</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">
                                Language
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">English</a></li>
                                <li><a class="dropdown-item" href="#">Русский</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Тарабарский</a></li>
                            </ul>
                        </li>

                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-item nav-link navigation-links" href="{{
url_for('posts.new_post') }}"><i class="fa fa-plus"></i>Add post</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Hi, {{ current_user.username }}!
                            </a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="{{ url_for('users.account') }}">Profile</a></li>
                                <li><a class="dropdown-item" href="#">
                                    Favorites posts
                                    <svg class="bi me-2 position-relative" width="25" height="30">
                                        <use xlink:href="../static/icon/sprite.svg#zakladka"></use>
                                        <span class="position-absolute top-10 start-1 translate-middle badge rounded-pill bg-danger">
                                        99+</span></svg>
                                </a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a></li>
                            </ul>
                        </li>

                        {% else %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Login
                            </a>
                            <ul class="dropdown-menu">

                                <li><a class="dropdown-item" href="/register">Register</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/login">Login</a>
                                </li>
                            </ul>
                        </li>

                        {% endif %}

                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
{% block body %}
{% endblock %}


<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>