{% extends "layout.html" %}

{% block body %}
<section class="registration">
    <div class="container-md">

        <h4 class="mb-3 text-center">Registration</h4>

        <form method="POST" action='' class="needs-validation" novalidate>
            {{ form.hidden_tag() }}
            <div class="row">
                <div class="col form_input">
                    <div class="col-12">
                        {{ form.username.label(class="form-control-label") }}
                        <div class="input-group has-validation">
                            {% if form.username.errors %}
                            {{ form.username(class="form-control") }}

                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>

                            {% else %}
                            {{ form.username(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>

                    <div class="col-12">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        {{ form.password(class="form-control") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>


                    <div class="col-12">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control") }}
                        {% endif %}

                    </div>
                </div>
                <hr class="my-4">
            </div>
            <div class="row">
                {{ form.submit(class="w-100 btn btn-primary btn-lg form_registration_btn") }}
            </div>
        </form>

    </div>

</section>
{% endblock %}
