html {
    font-family: 'Montserrat', sans-serif;;
}
a {
    text-decoration: none;
    color: inherit;
}
.a:hover {
    color:#BB8C5F;
}
.title_{
    padding: 30px 0 30px 0;
}
section, .padding_menu {
    padding-top: 60px;
}
.nav_padding {
   margin-right: 20px;
}
/* Поиск */
.search_bg {
    object-fit:cover;
    max-height: 336px;
    min-height: 336px;
    align-items: center;
}
.form_search{
    max-width: 800px;
    margin: 0 auto;
}
/* Форма регистрации */
.registration {
     padding-top: 100px;
     margin: 0 auto;
     max-width: 600px;
}
.form_input {
    min-width: 250px;
}
.form_reg {
    justify-content: center;
}
.img-registrations{
    width: 150px;
}
.form_registration_btn{
    max-width: 200px;
    margin: 0 auto;
}
/* Форма входа */
.login_enter{
    padding-top: 100px;
    margin: 0 auto;
    width: 600px;
}
.form_login_btn{
    max-width: 200px;
    margin: 0 auto;
}
/* Создание статьи */
.add_post{
    padding-top: 90px;
    max-width: 800px;
    margin: 0 auto;
}
.create_article_btn {
    width: 150px;
}
.button_post_send {
    padding-top: 40px;
}
.hashtags {
    display: inline-block;
    padding-right: 20px;
}
/* Аккаунт */
.account {
    padding-top: 90px;
}
.account_img {
    width: 150px;
    height: 150px;
}
.account_label {
    padding: 10,0, 20, 0;
}
.account_posts {
    padding: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: white;
}
.account_posts_img {
    border-radius: 10px;
    height: 100px;
    width: 200px;
}
.account_posts_btn {
    justify-content: space-between
}
.modal_posts_img{
    padding-right: 10px;
}
/* Блог */
.allpost_head {
    position: relative;
}
.allpost_head_search{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.allpost_card{
    margin-bottom: 40px;
    align-items: center;
}
.allpost_card_hash {
    position: relative;
}
.allpost_card_hastags {
    position: absolute;
}
/* Пост */
.post_tag {
    font-size: 14px;
    padding: 0px 5px 3px;
    border-radius: 15px;
    letter-spacing: 2px;
}
.post_title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
}
.post_author {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.post_author_name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #24211F;
}
.post_img {
    width: 913px;
    height: 504px;
}
.post_content {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 145%;
}
.post_title_comment {
    font-weight: 600;
    font-size: 20px;
    line-height: 145%;
}
.post_comment {
    background: #E5E5E5;
    border-radius: 20px;
    padding: 15px 20px 0px;
}
.post_comment_textarea {
    width: 100%;
}
.post_comment_footer {
    padding: 0px 20px 0px 40px;
}

/* Все пост */
.all_post_img {
    max-width: 420px;
    max-height: 250px;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.all_post_paginate {
    padding-top: 50px;
}

/* Посты юзера */
.title_post_user {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #24211F;
    padding: 30px 0 30px;
}

/* Главная */
.head_post_img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
}
.head_post_title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #24211F;
}