.title_{
    padding: 30px 0 30px 0;

}
section, .padding_menu {
    padding-top: 60px;
}
.nav_padding {
   margin-right: 20px;
}
/* Поиск */
.search_bg {
    object-fit:cover;
    max-height: 336px;
    min-height: 336px;
    align-items: center;
}
.form_search{
    max-width: 800px;
    margin: 0 auto;
}
/* Форма регистрации */
.registration {
     padding-top: 100px;
     margin: 0 auto;
     max-width: 600px;
}
.form_input {
    min-width: 250px;
}
.form_reg {
    justify-content: center;
}
.img-registrations{
    width: 150px;
}
.form_registration_btn{
    max-width: 200px;
    margin: 0 auto;
}
/* Форма входа */
.login_enter{
    padding-top: 100px;
    margin: 0 auto;
    width: 600px;
}
.form_login_btn{
    max-width: 200px;
    margin: 0 auto;
}
/* Создание статьи */
.form_create_article {
    max-width: 800px;
}
.text_article {
    height: 150px;
}
.choose_img {
    align-items: center;
    justify-content: space-around
}
.choose_img_container {
    min-width: 250px;
    padding-bottom: 30px;
}
.create_article_img{
    max-width: 250px;
}
.create_article_submit {
    padding-top: 60px;
    padding-bottom: 60px;
    justify-content: flex-end;
}
.create_article_btn {
    width: 150px;
}
.hashtags {
    display: inline-block;
    padding-right: 20px;
}
/* Аккаунт */
.account_img {
    width: 50px;
    height: 50px;
}
/* Блог */
.allpost_head {
    position: relative;
}
.allpost_head_search{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.allpost_card{
    margin-bottom: 40px;
    align-items: center;
}
/* Пост */
